@charset "utf-8";
a,applet,b,body,code,dd,del,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,label,li,object,ol,p,pre,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,u,ul{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline}
input:focus{outline:0}
input[type=button],input[type=reset],input[type=submit],input[type=text]{-webkit-appearance:none;border-radius:0}
textarea{-webkit-appearance:none;border-radius:0}
table{border-collapse:collapse;border-spacing:0}
ol,ul{list-style:none}
td,th{vertical-align:middle}
body{margin:0 auto;font-family:Microsoft YaHei,Arial;_font-family:Microsoft YaHei,songti,Arial;font-size:12px}
/*html,html body{_background-image:url(about:blank);_background-attachment:fixed}*/
@charset "utf-8";
.Left{float:left}
.Right{float:right}
.r{text-align:right!important}
.c{text-align:center!important}
.l{text-align:left!important}a{text-decoration:none;color:#333}
a:hover{color:#cf000e!important}a:hover img{text-decoration:none}
.red,a.red{color:#cf000e!important}
.white,a.white{color:#fff}
.none{display:none}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
._view_,.w{margin-left:auto;margin-right:auto;width:980px}
.f14{font-size:14px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.bold{font-weight:700}
.pointer{cursor:pointer}
.yahei{font-family:Microsoft YaHei}
.yen{font-family:Arial,Helvetica,sans-serif}
img{overflow:hidden;vertical-align:top;background:#eee}
body{margin:0 auto;font-family:Microsoft YaHei,Arial;_font-family:songti,Arial;font-size:12px}
/*html,html body{_background-image:url(about:blank);_background-attachment:fixed}*/
body.gray{background-color:#f4f4f4}.mll-header{margin-bottom:10px;background-color:#fff}
._s980_ ._view_,._s980_ .w{width:980px}
._s1190_ ._view_,._s1190_ .w{width:1190px}
._s1460_ ._view_,._s1460_ .w{width:1460px}
._s1460_ .mll-header .search-bar .search-panel .form,._s1460_ .mll-header .search-bar .search-panel .search-result{width:711px}
._s1460_ .mll-header .search-bar .search-panel .input{width:590px}
._s1460_ .mll-header .search-bar .search-panel.search-fixed .form,._s1460_ .mll-header .search-bar .search-panel.search-fixed .search-result{width:1008px}
._s1460_ .mll-header .search-bar .search-panel.search-fixed .form .input{width:890px}
.lightBox{width:100%;position:fixed;left:0;top:200px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop + 200))}
.lightBox .in{width:390px;background:#fff;margin:0 auto;border:2px solid #a00;border-radius:4px}
.lightBox .htmls{padding:15px}
.lightBox .btns{text-align:center;border-top:1px solid #f4f4f4;padding:10px 0;margin:0 3px}
.lightBox .btns a{padding:5px 15px;border:1px solid #ccc;border-radius:3px;background:#f4f4f4;color:#333;cursor:pointer;margin:0 6px 0 0;display:inline-block}
.lightBox .btns a:hover{color:#000!important;background:#fff;text-decoration:none}
.MALERT .in{width:360px;border-radius:0;border:5px solid #bbb}
.MALERT .in .htmls{padding:0}
.MALERT .in .title{height:40px;background:#f1f1f1;color:#343434;border-bottom:1px solid #dedede}
.MALERT .in .title .Left{height:14px;line-height:14px;padding-left:10px;padding-top:13px}
.MALERT .in .title .Left i{display:inline-block;background:url(http://image.meilele.com/images/zhuanti/upload/icon_a_1373954928.png) 0 -97px no-repeat;vertical-align:top}
.MALERT .in .title .Left span{display:inline-block;height:14px;vertical-align:top;margin-left:5px;font-size:16px;font-family:"微软雅黑";*line-height:20px;*height:20px}
.MALERT .in .title .Right{display:inline-block;width:18px;height:18px;margin-right:10px;color:#8f8f8f;margin-top:11px;font-size:18px;font-weight:700;cursor:pointer}
.MALERT .in .title .Right:hover{color:#bf1b3d!important;text-decoration:none}
.MALERT .in .content{padding:42px 15px 8px}
.MALERT .in .content_rate{padding:69px 15px 8px}
.MALERT .in .content .icons_td{width:32px;padding:0 20px 0 25px;vertical-align:middle}
.MALERT .in .content .content_td1{color:#666;line-height:1.8;vertical-align:middle;font-size:18px;font-family:'微软雅黑';font-weight:700;text-align:center}
.MALERT .in .content .content_td{color:#333;line-height:1.8;vertical-align:middle}
.MALERT .in .content .icons{width:32px;height:32px;display:inline-block;background:url(http://image.meilele.com/images/zhuanti/upload/icon_a_1373954928.png) 0 0 no-repeat}
.MALERT .in .content .icons_warn{background-position:0 -64px}
.MALERT .in .content .icons_ok{background-position:0 -32px}
.MALERT .btns{text-align:right;padding:11px 15px 39px 0;margin:0 25px;border-bottom:1px solid #f4f4f4}
.MALERT .btns a{background:url(http://image.meilele.com/images/zhuanti/upload/icon_a_1373954928.png) 0 -113px}
.MALERT .btns a:hover{background:url(http://image.meilele.com/images/zhuanti/upload/icon_a_1373954928.png) 0 -141px}
.MCONFIRM .btns{text-align:center;padding-right:0;margin-bottom:17px}

body,html{min-height:100%}
body{background:#0b0c0e url(../images/shenxin_body.jpg) no-repeat center center;background-size:cover}
._header_{margin-bottom:0;height:80px}
._header_ .logo{
    /*width:124px;*/
    /*height:40px;*/
    width: 160px;
    height: 120px;
    padding:0 0 0 10px;
    float:left
}
._header_ .logo .a{
    display:inline-block;
    width:127px;
    height:40px;
    overflow:hidden;
    background:url(../images/shenxin_login1.png) left top no-repeat
}
._header_ .back-home{
    color:green;
    font-size:15px;
    float:right;
    padding-top:40px
}
.login_footer{
    color:#000000;
    text-align:center;
    line-height:22px;
    font-size:12px;
    padding:30px 0
}
/*.inline_block{display:inline-block}* zoom=1*/

.yahei{font-family:"Microsoft YaHei",SimHei}
.clearfix:after{content:" ";display:block;clear:both;height:0}
.clearfix{zoom:1}
.Left{float:left}
.none{display:none}
/*nielinying*270791:2018-04-02 18:32:28*/
.login-box{
    position:relative;
    width:420px;
    min-height:371px;
    background:#fff;
    padding:38px 32px 25px;
    margin:65px auto 72px 200px
}
.layui-input-block .s1{
    height: 38px;
    width: 295px;
}
.layui-input-block .p5{
    font-size: 12px;
}
.layui-input-block .p6{
    font-size: 12px;
    color:#ff0000 ;
    margin-bottom: 10px;
}
.layui-input-block .layui-btn{
    width: 295px;
}

.login-box .login-title{font-size:16px;color:#333}
.login-box .error-date{display:none;position:absolute;width:306px;padding:4px 0;font-size:12px;border:1px solid #faccc6;background-color:#fef2f2;top:-35px}
.error-date.show{display:block}
.login-box .error-date span{line-height:16px;vertical-align:middle}
.login-box .error-date i{vertical-align:middle;width:15px;height:15px;display:inline-block;*display:inline;*zoom:1;margin-left:8px;margin-right:5px;background:url(../images/shenxin_login_icon.png) -83px 0 no-repeat}
.login-box .login-form{width:308px;overflow:hidden;position:relative;padding-top:40px}
.login-box .login-form .login-type{position:relative;width:616px;left:-308px;top:0}
.login-box .login-form .login-account,.login-box .login-form .login-mobile,.login-box .login-form .login-pwd,.login-box .login-form .login-quick{width:308px}
.login-box .login-form .login-mobile .agreement{margin-top:10px;line-height:20px;text-align:center;color:#999;font-size:14px}
.login-mobile .agreement .ckbox{display:inline-block;height:18px;width:18px;background:red;margin-right:6px;vertical-align:middle;margin-top:-2px;background:url(../images/shenxin_login_icon.png) -83px -21px no-repeat}
.login-box .login-form .login-mobile .agreement a,.login-box .login-form .login-mobile .agreement a:hover{color:#f96!important}
.login-box .login-form .input-group{position:relative;height:40px;border:1px solid #ddd;overflow:hidden;line-height:40px;margin-bottom:25px}
.login-box .login-form .login-pwd .submit-btn{margin:51px 0 20px 0}
.login-box .login-form .input-group input{float:left;height:20px;font-size:13px;width:260px;border:0 none;padding:10px 0;margin:0;font-family:'微软雅黑'}
.login-box .login-form .input-group .i-user{float:left;width:19px;height:19px;background:url(../images/shenxin_login_icon.png) 0 0 no-repeat;margin:10px 16px 10px 11px}
.login-box .login-form .input-group .i-pwd{float:left;width:19px;height:19px;background:url(../images/shenxin_login_icon.png) -21px 0 no-repeat;margin:10px 16px 10px 11px}
.login-box .login-form .input-group .i-captcha{float:left;width:19px;height:19px;background:url(../images/shenxin_login_icon.png) -42px 0 no-repeat;margin:10px 16px 10px 11px}
.login-box .login-form .input-group .i-phone{float:left;width:19px;height:20px;background:url(../images/shenxin_login_icon.png) -63px 0 no-repeat;margin:10px 16px 10px 11px}
.login-box .login-form .input-group .refresh-btn{color:#4a92f5}
.login-box .login-form .input-group .refresh-btn:hover{text-decoration:none;color:#4a92f5!important}
.login-box .login-form .input-group .captcha-img{margin:6px 8px 6px 6px}
.submit-btn{display:block;height:42px;line-height:42px;background-color:#ffd100;text-align:center;font-size:16px;font-weight:700;color:#333;border-radius:3px;margin:10px 0 0}
.submit-btn:hover{text-decoration:none;color:#333!important}
.other-head{font-size:13px;color:#999;position:relative;margin-top:40px;height:17px}
.other-head span{background:#fff;padding:0 18px;line-height:17px;display:block;position:absolute;z-index:2;left:90px}
.other-head i{display:block;width:100%;height:1px;background:#eee;top:8px;position:absolute;z-index:1}
.login-form .other-login{margin:20px 0 15px 0;vertical-align:bottom;text-align:center}
.login-form .other-login .i-account,.login-form .other-login .i-qq{display:inline-block;*display:inline;*zoom:1;width:84px;margin-right:10px;height:28px}
.login-form .other-login .i-account i,.login-form .other-login .i-qq i{vertical-align:middle;display:inline-block;width:28px;height:28px;margin-right:6px;background:url(../images/shenxin_login_icon.png) no-repeat}
.login-form .other-login .i-account span,.login-form .other-login .i-qq span{vertical-align:middle;display:inline-block;line-height:28px;color:#999}
.login-form .other-login .i-qq i{background-position:-29px -21px}
.login-form .other-login .i-account i{background-position:0 -21px}
.login-box .login-form .sms-btn{background:#f0f0f0;color:#333;height:28px;width:104px;text-align:center;line-height:28px;border-radius:3px;margin-top:6px}
.login-box .login-form .sms-btn:hover{color:#333!important;text-decoration:none}
.login-box .login-form .sms-disabled{color:#999!important;cursor:default!important}
.login-box .login-form .sms-disabled:hover{color:#999!important}
.black{color:#333!important}
.gray{color:#b2b2b2}
.select-username{position:relative}
.select-username ul{box-sizing:border-box;position:absolute;background:#fff;width:308px;border:1px solid #ddd;border-top:0;left:-1px;top:40px;*top:41px;z-index:10}
.select-username ul li{padding:2px 5px;height:42px;line-height:40px;cursor:pointer}
.select-username ul li:hover{background:#ededed}
.select-icon{position:absolute;display:block;overflow:hidden;background:url(../images/shenxin_login_icon.png);width:16px;height:9px;top:16px;right:11px;_right:41px;background-position:-106px -29px;cursor:pointer}
#JS_username{_display:block}
.icon-open{background-position:-106px -20px}